h1{
    text-align: center;
    color:blueviolet;
    font-size: 5rem;
}
h2{
    text-align: center;
    color: palevioletred;
    font-size: 2rem;
}
label{
    text-align: center;
    font-weight: bold;
}
